%alert {
  @extend .alert;
  padding-left: 60px;
  display: inline-block;

  &::before {
    font-family: fontAwesome;
    font-size: 2rem;
    top: 0;
    left: 16px;
  }
  &::after {
    content: none;
  }
}

.woocommerce-info {
  @extend %alert;
  @extend .alert-info;
  &::before {
    content: '\f06a';
  }
}

.woocommerce-error {
  @extend %alert;
  @extend .alert-danger;
  &::before {
    content: '\f05e';
  }
}

.woocommerce-message {
  @extend %alert;
  @extend .alert-success;
  &::before {
    content: '\f00c';
  }
}