%button {
  background-color: $green500;
  color: #fff;
  border-radius: 20px;
  transition: background-color .2s, color .2s, border-color .2s !important;
  &:focus, &:hover {
    background-color: $green600;
    color: #fff;
    outline: none !important;
  }
}

%button-outline {
  background-color: #fff;
  color: $green600;
  border-radius: 20px;
  border: 2px solid $green600;
  transition: background-color .2s, color .2s, border-color .2s;
  &:focus, &:hover {
    background-color: $green100;
    color: $green700;
    border: 2px solid $green700;
  }
}

.woocommerce {
  // button common
  a.button {
    @extend %button;
    text-align: center;
    &.loading {
      opacity: 1;
      padding-right: 16px;
      &::after {
        content: none;
      }
    }
  }
  
  // button in single-product.php
  button.button.alt {
    @extend %button;
  }

  // button proceed to checkout
  .wc-proceed-to-checkout a.checkout-button {
    @extend %button;
  }
}
