.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  width: 40px;
  height: 40px;

  color: $white;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  
  &:focus, &:hover {
    color: $white;
    text-decoration: none;
  }
}

.cart-items {
  padding: 0 6px;
  border: 2px solid $purple400;
  border-radius: 10px;
  
  background-color: $white;
  color: $purple400;
  
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;

  transform: translateX(-50%);

  position: absolute;
  top: -4px;
  left: 34px;
}