.woocommerce {
  input:not(.woocommerce-form__input-checkbox):not(.shipping_method) {
    padding: 8px 8px;
    border: 1px solid $gray3;
    width: 100%;
    border-radius: 8px;
  }

  form .form-row.woocommerce-validated input.input-text {
    border-color: $green300;
  }

  form .form-row.woocommerce-invalid input.input-text {
    border-color: $red400;
  }

  form .form-row.woocommerce-invalid label {
    color: $red400;
  }
}

.woocommerce-page {
  &.woocommerce-checkout,
  &.woocommerce-account {
    .form-row {
      padding: 0;
      margin: 0;
      &-first, &-last { width: 100%; }
      label {
        margin-bottom: .25em;
        font-weight: 600;
        color: $purple400;
        line-height: 1;
      }
      .optional {
        font-weight: 400;
      }
      font-weight: 400;
      .required {
        color: $purple100;
      }
    }
  }
}