%input {
  padding: 8px 8px !important;
  border: 1px solid $gray3 !important;
  width: 100% !important;
  border-radius: 8px !important;
  &:focus, &:hover {
    border: none;
    outline: none;
  }
}

%input-label--valid {
  border-color: $gray3;
}

%input-label--invalid {
  border-color: $red400;
  label, .required {
    color: $red400;
  }
}

.woocommerce {
  input[type=text], input[type=password], input[type=email], input[type=tel], textarea {
    @extend %input;
  }
  
  form .form-row.woocommerce-validated input.input-text {
    @extend %input-label--valid;
  }
  
  form .form-row.woocommerce-invalid input.input-text {
    @extend %input-label--invalid;
  }
  
  form .form-row.woocommerce-invalid {
    @extend %input-label--invalid;
  }
}

.woocommerce-page {
  &.woocommerce-checkout,
  &.woocommerce-account {
    .form-row {
      padding: 0;
      margin: 0;
      &-first, &-last { width: 100%; }
      label {
        margin-bottom: .25em;
        font-weight: 600;
        color: $purple400;
        line-height: 1;
      }
      .optional {
        font-weight: 400;
      }
      font-weight: 400;
      .required {
        color: $purple400;
      }
    }
    .show-password-input {
      &::after {
        font-family: fontAwesome;
        content: '\f06e';
        color: $purple400;
      }
      &.display-password::after {
        content: '\f070';
        color: $purple400;
      }
    }
  }
}