$card-padding-mobile: 12px;
$card-padding-desktop: 20px;

%product-card-container {
  background-color: $white;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  transition: all .1s;
}

%product-cart-title {
  min-height: 38px;
  max-height: 38px;
  margin-bottom: 8px;
  padding: 0;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: $black;
}

%product-card-link {
  display: block;
  padding: $card-padding-mobile $card-padding-mobile 0;
  @include atMedium {
    padding: $card-padding-desktop $card-padding-desktop 0;
  }
  @include atLarge {
    padding: $card-padding-desktop;
  }
}

%product-card-badge-onsale {
  top: 16px;
  left: -8px;
  right: auto;
  margin: 0;
}

%product-card-button {
  display: block;
  width: calc(100% - #{$card-padding-mobile*2});
  margin: $card-padding-mobile;
  transition: opacity .1s;

  @include atMedium {
    width: calc(100% - #{$card-padding-desktop*2});
    margin:  8px $card-padding-desktop $card-padding-desktop $card-padding-desktop;
  }
  
  @include atLarge {
    position: absolute;
    margin: 0 $card-padding-desktop;
    bottom: $card-padding-desktop;
    visibility: hidden;
    opacity: 0;
  }
}

.woocommerce ul.products {
  li.product {
    width: 100% !important;

    @extend %product-card-container;

    @include atLarge {
      margin-bottom: $card-padding-desktop*2.5 !important;
      &:focus, &:hover {
        margin-bottom: 0 !important;
        padding-bottom: $card-padding-desktop*2.5;
        a.button {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    // card link
    a.woocommerce-loop-product__link {
      @extend %product-card-link;
    }
    
    // title
    h2.woocommerce-loop-product__title {
      @extend %product-cart-title;
    }

    // button
    a.button {
      @extend %product-card-button;
    }

    // button go-to-cart
    a.added_to_cart { display: none; }

    span.onsale {
      @extend %product-card-badge-onsale;
    }
  }

  .outofstock {
    opacity: .5;
  }

}
