.woocommerce-cart .woocommerce-cart-form table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout-review-order table {
  border: none;
  th {
    color: $purple400;
  }
}

// cart table
.woocommerce-cart .woocommerce-cart-form table {
  @extend %card;
  padding: 0;
}

// cart table total
.woocommerce-cart .cart-collaterals .cart_totals table {
  @extend %card;
}

// checkout table
.woocommerce-checkout-review-order table.shop_table {
  @extend %card;
  border: none;
  td {
    border: none;
  }
  thead, tbody {
    tr {
      display: flex;
      justify-content: space-between;
    }
  }
  tbody {
    tr:not(:first-child) {
      border-top: 1px solid $gray2;
    }
    td {
      padding: 4px 12px;
    }
  }
  tfoot {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 16px;

    th, td { border: none; padding: 0; }
    th { font-size: 1.52rem; }
    td { color: $gray5; }
    tr {
      display: flex;
      flex-direction: column;
    }
    .cart-subtotal {
      grid-column: 1 / 2;
    }
    .shipping {
      grid-column: 1 / 2;
    }
    .order-total {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      align-items: flex-end;
      td {
        color: $green600;
        font-size: 2rem;
      }
    }
  }
}