#billing,
#shipping {
  &_first_name_field {
    grid-column: 1 / 3;
  }
  &_last_name_field {
    grid-column: 3 / 5;
  }
  &_cpf_field {
    grid-column: 1 / 5;
  }
  &_company_field {
    display: none;
  }
  &_country_field {
    grid-column: 1 / 5;
  }
  &_postcode_field {
    grid-column: 1 / 5;
  }
  &_address_1_field {
    grid-column: 1 / 5;
  }
  &_number_field {
    grid-column: 1 / 2;
  }
  &_address_2_field {
    grid-column: 2 / 5;
  }
  &_neighborhood_field {
    grid-column: 1 / 5;
  }
  &_city_field {
    grid-column: 1 / 5;
  }
  &_state_field {
    grid-column: 1 / 5;
  }
  &_phone_field {
    grid-column: 1 / 5;
  }
  &_email_field {
    grid-column: 1 / 5;
  }

  @include atSmall {
    &_first_name_field {
      grid-column: 1 / 5;
    }
    &_last_name_field {
      grid-column: 5 / 9;
    }
    &_cpf_field {
      grid-column: 9 / 13;
    }
    &_country_field {
      grid-column: 1 / 8;
    }
    &_postcode_field {
      grid-column: 8 / 13;
    }
    &_address_1_field {
      grid-column: 1 / 13;
    }
    &_number_field {
      grid-column: 1 / 4;
    }
    &_address_2_field {
      grid-column: 4 / 13;
    }
    &_neighborhood_field {
      grid-column: 1 / 7;
    }
    &_city_field {
      grid-column: 7 / 13;
    }
    &_state_field {
      grid-column: 1 / 13;
    }
    &_phone_field {
      grid-column: 1 / 7;
    }
    &_email_field {
      grid-column: 7 / 13;
    }
  }

  @include atLarge {
    &_first_name_field {
      grid-column: 1 / 5;
    }
    &_last_name_field {
      grid-column: 5 / 9;
    }
    &_cpf_field {
      grid-column: 9 / 13;
    }
    &_country_field {
      grid-column: 1 / 3;
    }
    &_postcode_field {
      grid-column: 3 / 5;
    }
    &_address_1_field {
      grid-column: 5 / 8;
    }
    &_number_field {
      grid-column: 8 / 9;
    }
    &_address_2_field {
      grid-column: 9 / 13;
    }
    &_neighborhood_field {
      grid-column: 1 / 5;
    }
    &_city_field {
      grid-column: 5 / 9;
    }
    &_state_field {
      grid-column: 9 / 13;
    }
    &_phone_field {
      grid-column: 1 / 7;
    }
    &_email_field {
      grid-column: 7 / 13;
    }
  }
}