.header {
  // -------------------- header__nav-top --------------------
  &__nav-top{
    background-color: $purple500;
    padding: 8px 0;
    color: $white;
    display: none;

    @include atLarge {
      display: block;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
  
      span {
        display: block;
      }
      
      ul {
        display: flex;
        list-style: none;
        margin: 0;
      }
  
    }
  }
  
  // -------------------- header__main-nav --------------------
  &__main-nav {
    padding: 8px 0;
    background-color: $purple400;
    @include atLarge {
      padding: 20px 0;
    }
    .container {
      display: grid;
      grid-template-columns: 40px 1fr 40px;
      grid-template-rows: 1fr 1fr;
      row-gap: 8px;
      @include atLarge {
        grid-template-columns: 100px 1fr 200px 40px;
        grid-template-rows: 1fr;
        column-gap: 24px;
        align-items: center;
      }
    }
  }
  &__burguer-button {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: 1.5rem;
    grid-column: 1 / 2;
  }
  &__logo {
    grid-column: 2 / 3;
    text-align: center;
  }
  &__acount {
    a {
      color: $white;
      text-transform: capitalize;
      font-weight: 600;
    }
    display: none;
  }
  &__cart {
    grid-column: 3 / 4;
  }
  &__search {
    grid-column: 1 / 4;
    @extend %advanced-search-input;
  }

  @include atLarge {
    &__burguer-button {
      display: none;
    }
    &__logo {
      grid-column: 1 / 2;
      text-align: left;
    }
    &__acount {
      grid-column: 3 / 4;
      display: block;
    }
    &__cart {
      grid-column: 4 / 5;
    }
    &__search {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  
  // -------------------- header__nav --------------------
  &__nav {
    background-color: $white;
    padding: 8px 0;
    border-bottom: 1px solid $gray2;
    z-index: 1000;
    .container {
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

%advanced-search-input {
  .dgwt-wcas-search-wrapp {
    max-width: 100%;
  }
}