.woocommerce-lost-password .woocommerce {
  > p {
    max-width: 600px;
    margin: 0 auto;
  }
  .woocommerce-message,
  .woocommerce-error {
    left: 50%;
    transform: translateX(-50%);
  }
  .lost_reset_password {
    @extend %card;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    column-gap: 16px;
    row-gap: 20px;
    grid-template-columns: 1fr;
    align-items: flex-end;
    p:first-child { margin: 0; }
    
    @include atMedium {
      grid-template-columns: 1fr auto;
      p:first-child { grid-column: 1 / 3; }
    }
  
    button.button {
      @extend %button-outline;
      width: 100%;
  
      @include atMedium {
        width: auto;
      }
    }
    .clear { display: none; }
  }
}