.woocommerce-order-received {

  // structure
  .woocommerce-order {
    display: grid;
    @include atMedium {
      grid-template-columns: 60% auto;
      column-gap: 16px;
      .woocommerce-notice {
        grid-column: 1 / 3;
      }
      .woocommerce-order-overview {
        grid-column: 1 / 3;
      }
    }
  }

  // details card
  .woocommerce-order-overview {
    @extend %card;
    display: flex;
    flex-direction: column;
    @include untilMedium {
      li {
        border: none !important;
        &:not(:last-child) {
          padding-bottom: 16px;
        }
      }
    }
    @include atMedium {
      flex-direction: row;
    }
  }

  // details table
  table.shop_table {
    @extend %table-space-between;
    tfoot {
      padding: 12px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: 16px;

      th, td { border: none; padding: 0; }
      th { font-size: 1.52rem; }
      td { color: $gray5; }
      tr {
        display: flex;
        flex-direction: column;
      }
      .cart-subtotal {
        grid-column: 1 / 2;
      }
      .shipping {
        grid-column: 1 / 2;
      }
      .order-total {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-items: flex-end;
        td {
          color: $green600;
          font-size: 2rem;
        }
      }
    }
  }

  // address details
  .woocommerce-customer-details .woocommerce-columns {
    address {
      @extend %card;
    }
  }

}

.woocommerce-page .col2-set {
  &::before, &::after {
    content: none;
  }
}