body {
  background-color: $gray1;
  position: relative;
  min-height: 100vh;
  .site {
    padding-bottom: 200px;
  }

  &:not(.archive) .shop-content {
    background-color: $white;
  }

  &:not(.home) .content-area {
    padding-top: 16px;
    @include atLarge {
      padding-top: 32px;
    }
  }
}
