@font-face {
  font-family: "Indie Flower";
  src: url("../assets/fonts/IndieFlower-Regular.ttf");
}

body {
  font-family: 'Rajdhani', sans-serif;
}

// .popular-products,
// .new-arrivals,
// .deal-of-the-week,
// .store-blog {
//   h1, h2, h3 {
//     font-family: 'Indie Flower', cursive;
//     color: $purple400;
//     font-size: 2rem;
    
//     @include atMedium {
//       font-size: 3rem;
//     }
//   }
// }