@font-face {
  font-family: "Indie Flower";
  src: url("../assets/fonts/IndieFlower-Regular.ttf");
}

body {
  font-family: 'Rajdhani', sans-serif;
}

@mixin indieFont($size, $color: $purple400) {
  font-family: 'Indie Flower', cursive;
  font-size: $size;
  line-height: 1.2;
  color: $color;
}
