$small: 768px;
$medium: 991px;
$large: 1200px;

@mixin atSmall {
  @media (min-width: #{$small + 1}) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: #{$medium + 1}) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: #{$large + 1}) {
    @content;
  }
}

@mixin untilSmall {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin untilMedium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

@mixin untilLarge {
  @media (max-width: #{$large}) {
    @content;
  }
}